{% extends 'portal/base.html' %}
{% block title %}Full-Time Staff Resources{% endblock %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12 text-center" id="loading">
      <br />
      <h6 class="text-warning"><strong>loading...</strong></h6>
      <i class="fa fa-pulse fa-3x fa-spinner"></i>
      <br />
    </div>
    <div class="card" style="display: none;" id="main">
      <div class="card-header card-header-tabs" data-background-color="green">
        <div class="tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" role="tablist">
              {% for tab in tabs %}
              <li class="{% if forloop.first %}active{% endif %}">
                <a href="#{{ tab.customurl }}" role="tab" data-toggle="tab" aria-expanded="{% if forloop.first %}false{% else %}true{% endif %}">
                  <i class="material-icons">{{ tab.icon }}</i> {{ tab.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="tab-content">
          {% for tab in tabs %}
          <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ tab.customurl }}">
            {{ tab.content|safe }}
            <div class="text-center"><a href="/tabs/edit/{{ tab.id }}" class="btn btn-sm btn-primary btn-icon"><i class="material-icons">edit</i> Edit this tab</a></div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% include "portal/components/form-prefiller.html" %}
{% endblock %}
