{% extends 'portal/base.html' %}
{% block title %}404 Error{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h2 class="card-title">500: Internal Server Error</h2>
      </div>
      <div class="card-content">
        <p class="lead">Something went wrong with the Portal server.</p>
        <p>Sorry for the inconvenience! Our web admins have been notified of the error and will try to fix it as soon as possible.</p>
        <p>Your contact information will be included in the error reporting, so a web admin may contact you for help fixing the error.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
