{% load humanize %}

<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="card-title">Today's RCR Activity</h4>
      </div>
      <div class="card-content">
        <div class="table-responsive">
          {% if rcrs_top5 %}
          <table class="table rcr-activity">
            <tbody>{% for d in rcrs_top5 %}
              <tr><td>{{ d.staff }}</td><td class="text-right">{{ d.qty }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="icon icon-primary text-center">
            <i class="material-icons fa-spin">sentiment_very_satisfied</i>
          </div>
          <div class="text-center">
            <h3 class="card-title">No RCRs Today</h3>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header" data-background-color="blue">
        <div class="ct-chart" id="useractivity"></div>
      </div>
      <div class="card-content">
        <h4 class="card-title">Your RCR Activity <small class="text-info">- {{ rcrs_user_today }} submitted today</small></h4>
        <p class="category">You've submitted {{ rcrs_user_total }} RCRs in total</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          {% if rcrs_user_last %}
          <i class="material-icons">access_time</i> Your last RCR was submitted {{ rcrs_user_last|naturaltime }}
          {% else %}
          <span class="text-danger"><i class="material-icons">timer_off</i> You've never submitted an RCR</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header" data-background-color="orange">
        <div class="ct-chart" id="allactivity">
        </div>
      </div>
      <div class="card-content">
        <h4 class="card-title">Everyone's RCR Activity <small class="text-info">- {{ rcrs_all_activity|last }} submitted today</small></h4>
        <p class="category">We've submitted {{ rcrs_all_qty }} RCRs in total.</p>
      </div>
      <div class="card-footer">
        <div class="stats">
        <i class="material-icons">access_time</i> Latest RCR was submitted {{ rcrs_latest.last_saved|naturaltime }} by {{ rcrs_latest.staff }}
        </div>
      </div>
    </div>
  </div>
</div>
